@model Apartment.App.Web.Models.InvoiceTypeModels.InvoiceTypeViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Apartment.App.Domain.Entities.IdentityEntities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Fatura Tipi Yönetim Penceresi</h1>
 
<table class="table table-striped">
    <thead>
    <tr>
        <th>Tip</th>
        <th>Birim </th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var type in Model.invoiceTypes)
    {
        <tr>
            <td>@type.typeName</td>
            <td>@type.typeUnit</td>
            <td>
                <a class="btn alert-danger">test</a>
                <a class="btn alert-info">test2</a>
                @*  <a href="@Url.Action("EditInvoiceType", "InvoiceType", new { id = type.Id })">Düzenle</a>
                    <a href="@Url.Action("DeleteInvoiceType", "InvoiceType", new { id = type.Id })">Sil</a>*@
            </td>
        </tr>
    }
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add Employee
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-controller="InvoiceType" asp-action="AddInvoiceType">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="addInvoiceType.typeName"></label>
                        <input asp-for="addInvoiceType.typeName" class="form-control"/>
                        <span asp-validation-for="addInvoiceType.typeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="addInvoiceType.typeUnit"></label>
                        <input asp-for="addInvoiceType.typeUnit" class="form-control"/>
                        <span asp-validation-for="addInvoiceType.typeUnit" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"> Add Employee</button>
                </div>
            </form>
        </div>
    </div>
</div>