@model Apartment.App.Web.Models.HousingViewModels.HousingAddViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Apartment.App.Domain.Entities.IdentityEntities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Mesken Ekleme Penceresi</h1>

<form id="housingAddForm" method="post">

    <div class="form-group">
        <label asp-for="Housing.Floor.BlockNumber"></label>
        <input asp-for="Housing.Floor.BlockNumber" class="form-control" disabled="disabled" />
        <span asp-validation-for="Housing.Floor.BlockNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Housing.Floor.FloorNumber"></label>
        <input asp-for="Housing.Floor.FloorNumber" class="form-control" disabled="disabled" />
        <span asp-validation-for="Housing.Floor.FloorNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Housing.ApartmentNumber"></label>
        <input asp-for="Housing.ApartmentNumber" class="form-control" disabled="disabled" />
        <span asp-validation-for="Housing.ApartmentNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Housing.ApartmentSizeInfo"></label>
        <input asp-for="Housing.ApartmentSizeInfo" class="form-control" />
        <span asp-validation-for="Housing.ApartmentSizeInfo" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="Housing.IsEmpty">
               Kiracı Var mı?
                <input asp-for="Housing.IsEmpty" id="hosuingHasHirer" class="form-check" />
            </label>
        </div>
    </div>
    
    <div class="form-group" id="isHomeOwnerCheckForm">
        <div class="checkbox">
            <label asp-for="Housing.IsHomeowner">
                Ev Sahibi mi?
                <input asp-for="Housing.IsHomeowner" id="IsHomeowner" class="form-check" />
            </label>
        </div>
    </div>
    
    <div class="form-group" id="housingTcIdentityNumberForm">
        <label asp-for="HousingHirerTcIdentityNumber"></label>
        <input asp-for="HousingHirerTcIdentityNumber" class="form-control" />
        <span asp-validation-for="HousingHirerTcIdentityNumber" class="text-danger"></span>
    </div>
    <input type="submit" value="submit" />
</form>


@section Scripts {
<script>
    $(document).ready(function () {
        $("#housingAddForm").find("#housingTcIdentityNumberForm").hide(); 
        $("#housingAddForm").find("#isHomeOwnerCheckForm").hide(); 
        
        $("#IsEmpty").change(function () {
            if ($(this).is(":checked")) {
                $("#housingAddForm").find("#housingTcIdentityNumberForm").show();
                $("#housingAddForm").find("#isHomeOwnerCheckForm").show(); 

            } else {
                $("#housingAddForm").find("#housingTcIdentityNumberForm").hide();
                $("#housingAddForm").find("#isHomeOwnerCheckForm").hide(); 
            }
        });
    });
</script>
}
